.explanation-container {
    max-width: 700px;
    margin: 0 auto;
}

.empty-container {
    max-width: 700px;
    margin: 0 auto;
}

.projects-container {
    max-width: 700px;
    margin: 0 auto;
}
