<div class="animate-right-in">
    <div class="explanation-container mt-6">
        <h1 class="title">Projektübersicht</h1>
        <div class="block">
            <p>
                Die Projektübersicht dient zur Auswahl von Projekten sowie dem
                Bearbeiten oder Löschen.
            </p>
        </div>
    </div>
    <!-- if there are projects, show them in a table -->
    <div *ngIf="projects.length !== 0">
        <div class="table-container mt-2">
            <table class="table is-fullwidth">
                <tr>
                    <th>Name</th>
                    <th>Beschreibung</th>
                    <th>Aktion</th>
                </tr>
                <tr *ngFor="let project of projects">
                    <td class="pt-4">{{ project.title }}</td>
                    <td class="pt-4">{{ project.description }}</td>
                    <td>
                        <button class="button is-link is-light mr-2">
                            <span class="material-icons"> text_snippet </span>
                        </button>
                        <button
                            class="button is-link is-light mr-2"
                            (click)="editProject(project)"
                        >
                            <span class="material-icons"> edit </span>
                        </button>
                        <button
                            class="button is-link is-light"
                            (click)="deleteProject(project.id)"
                        >
                            <span class="material-icons"> delete </span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- when no projects are available: show info text with link to create a project -->
    <div class="empty-container my-6" *ngIf="projects.length === 0">
        <h2 class="subtitle">Keine Projekte.</h2>
        <div class="block">
            <p>
                Es sieht so aus als haben Sie keine Projekte bislang angelegt.
                <a class="is-ghost" routerLink="/projects/new"
                    >Legen Sie am besten eines an.</a
                >
            </p>
        </div>
    </div>
</div>
