<div class="animate-right-in">
    <div class="explanation-container mt-6">
        <h1 class="title">Projektübersicht</h1>
        <div class="block">
            <p>
                Die Projektübersicht dient zur Auswahl von Projekten sowie dem
                Bearbeiten oder Löschen.
            </p>
        </div>
    </div>
    <div class="empty-container my-6">
        <h2 class="subtitle">Keine Projekte.</h2>
        <div class="block">
            <p>
                Es sieht so aus als haben Sie keine Projekte bislang angelegt.
                <a class="is-ghost" routerLink="/projects/new"
                    >Legen Sie am besten eines an.</a
                >
            </p>
        </div>
    </div>
</div>
