<nav class="navbar py-4">
    <div class="container is-fluid">
        <div class="navbar-brand">
            <a class="navbar-item" routerLink="/home">
                <b>Mobbingtagebuch</b>
            </a>
            <a
                class="navbar-burger"
                role="button"
                aria-label="menu"
                aria-expanded="false"
            >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Projekte</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" routerLink="/projects/new"
                            >Neues Projekt</a
                        >
                        <a class="navbar-item" routerLink="/projects/overview"
                            >Übersicht</a
                        >
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Personen</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" routerLink="/persons/new"
                            >Neue Person</a
                        >
                        <a class="navbar-item" routerLink="/persons/overview"
                            >Übersicht</a
                        >
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Berichte</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" routerLink="/reports/new"
                            >Neuer Bericht</a
                        >
                        <a class="navbar-item" routerLink="/reports/overview"
                            >Übersicht</a
                        >
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Export</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" routerLink="/export/file"
                            >Datei</a
                        >
                        <a class="navbar-item" routerLink="/export/pdf">PDF</a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" outerLink="/import">Import</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">Datei</a>
                    </div>
                </div>
            </div>
            <div class="navbar-item">
                <div class="field has-addons">
                    <div class="control">
                        <input
                            class="input"
                            type="search"
                            placeholder="Search"
                            aria-label="Search"
                        />
                    </div>
                    <div class="control">
                        <button class="button" type="submit">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewbox="0 0 24 24"
                                stroke="currentColor"
                                style="width: 24px; height: 24px"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                                ></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
