<div class="content-container animate-right-in">
    <div class="my-6" *ngIf="project !== undefined">
        <h1 class="title">Projekt bearbeiten</h1>
        <div class="block">
<!-- the F O R M -->
<form (ngSubmit)="onSubmit(projectForm)" #projectForm="ngForm">
    <div class="form-container is-vcentered mt-5">
        <!-- the new projects name -->
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="projectName"
                    id="projectName"
                    placeholder="Text input"
                    [(ngModel)]="project.title"
                    #projectname="ngModel"
                    required
                    [ngClass]="{
                        'is-danger':
                            projectname.dirty && projectname.invalid
                    }"
                />
            </div>
            <!-- info text that the name is required -->
            <p
                *ngIf="projectname.dirty && projectname.invalid"
                class="help is-danger"
            >
                A name is required.
            </p>
        </div>

        <!-- the optional project description -->
        <div class="field">
            <label class="label">Beschreibung (optional)</label>
            <div class="control">
                <textarea
                    class="textarea"
                    placeholder="Textarea"
                    id="projectDescription"
                    name="projectDescription"
                    [(ngModel)]="project.description"
                ></textarea>
            </div>
        </div>

        <!-- the cancel and submit button -->
        <div class="field mt-4 is-grouped is-flex is-justify-content-end">
            <div class="control">
                <button routerLink="/projects/overview" class="button is-primary is-light">
                    Abbrechen
                </button>
            </div>
            <div class="control">
                <button
                    type="submit"
                    [disabled]="projectForm.form.invalid"
                    class="button is-primary"
                >
                    Anlegen
                </button>
            </div>
        </div>
    </div>
</form>
        </div>
    </div>

    <!-- show loadingbar when we dont have yet a project from the servcie -->
    <div class="my-6" *ngIf="project === undefined">
        <div class="block">
            <progress class="progress is-small is-primary" max="100"></progress>
        </div>
    </div>
</div>
