<app-page-container>
    <div
        class="is-flex is-justify-content-center is-align-items-center"
        style="height: 100vh"
    >
        <div class="has-text-centered">
            <h1 class="is-size-1 has-text-weight-bold has-text-primary">:-(</h1>
            <p class="is-size-5 has-text-weight-medium">
                <span class="has-text-danger">Upps!</span> Da ist etwas schief
                gegangen.
            </p>
            <p class="is-size-6 ">
               Fehlercode: 1234
            </p>
            <p class="is-size-6 mb-2">
                Geben Sie gerne dem Seiteneigentümer Bescheid und schildern Sie
                den Fehler.
            </p>
            <a routerLink="/home" class="button is-primary">Kontakt</a>
        </div>
    </div>
</app-page-container>
