<div class="mx-auto box p-6 has-background-white has-text-centered">
    <h4 class="is-size-5 mb-2 has-text-weight-bold">
        Jetzt starten und ein Projekt anlegen!
    </h4>
    <p class="has-text-grey-dark mb-4">
        Geben Sie einfach den Namen eines neuen Projekts ein und schon kann es
        losgehen.
    </p>
    <form>
        <input
            class="input mb-3"
            type="email"
            placeholder="Projektname"
        /><button class="button is-link is-fullwidth">Los geht's</button>
    </form>
</div>
