<footer class="section mt-6">
    <div class="container">
        <div
            class="pb-1 is-flex is-flex-wrap-wrap is-justify-content-between is-align-items-center"
        >
            <div class="mr-auto mb-2">
                <a routerLink="/home" class="button is-ghost has-text-black">
                    <b>Mobbingtagebuch</b>
                </a>
            </div>
            <div>
                <ul
                    class="is-flex is-flex-wrap-wrap is-align-items-center is-justify-content-center"
                >
                    <li class="mr-4">
                        <a class="button is-white" routerLink="/info/about"
                            >Über</a
                        >
                    </li>
                    <li class="mr-4">
                        <a class="button is-white" routerLink="/info">Info</a>
                    </li>
                    <li>
                        <a class="button is-white" routerLink="/info/licenses"
                            >Lizenzen</a
                        >
                    </li>
                    <li>
                        <a class="button is-white" routerLink="/info/privacy"
                            >Datenschutz</a
                        >
                    </li>
                    <li>
                        <a class="button is-white" routerLink="/info/imprint"
                            >Impressum</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pt-3" style="border-top: 1px solid #dee2e6"></div>
    <div class="container">
        <div
            class="is-flex-tablet is-justify-content-between is-align-items-center"
        >
            <p>Alle Rechte vorbehalten © Mobbingtagebuch 2023</p>
            <div class="py-2 is-hidden-tablet"></div>
            <div class="ml-auto">
                <a
                    class="mr-4 is-inline-block"
                    href="https://github.com/moritzott/mobbingtagebuch"
                    target="_blank"
                >
                    <img src="assets/logos/github-mark.svg" width="24" alt=""
                /></a>
                <a
                    class="mr-4 is-inline-block"
                    href="https://de.linkedin.com/in/moritz-ott-3a206825b"
                    target="_blank"
                >
                    <img src="assets/logos/LI-In-Bug.png" width="24" alt=""
                /></a>
            </div>
        </div>
    </div>
</footer>
