@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";


/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.css';

/* Import animations */
@import './assets/css/animations.css';

/*+ Supports weights 200-900 */
@import '@fontsource-variable/source-sans-3';

// Override desired variables
$primary: darkblue;   

body,
button,
input,
optgroup,
select,
textarea {
    font-family: 'Source Sans 3 Variable', monospace;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
  }


/* import bulma css */
@import "../node_modules/bulma/bulma";