<div class="mt-6 mb-6 animate-left-in">
    <section class="section has-background-white">
        <div class="container">
            <div class="is-vcentered columns is-multiline">
                <div class="column is-6 is-5-desktop mb-4">
                    <app-hero></app-hero>
                </div>
                <div class="column is-5 ml-auto">
                    <app-new-project-card></app-new-project-card>
                </div>
            </div>
        </div>
    </section>
</div>
